<tr>
    <td>1</td>
    <td>Gandhi</td>
    <td>vhiolite@gmail.com</td>
    <td>male</td>
    <td>Active</td>
    <td>
        <a href="/update-user">Edit</a>
        <a href="">Delete</a>
    </td>
</tr>